.post {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

.post__title, .post__content {
  padding-bottom: 30px;
}

.post__text {
  font-size: 1.2rem;
}

.post__footer {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 90px;
  line-height: 90px;
}
